#python
__pycache__

# dataset
dataset/

# spark
spark-etl/project/boot/
spark-etl/project/plugins/project/
spark-etl/project/project/
spark-etl/.idea

**/target/
*.jar

#model
model/.venv/

#mysql
mysql/data/
